<div class="page-header">
  <h3>Best Food #<%= @best_food.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Dish</dt>
      <dd>
        <% if @best_food.location.present? %>
          <a href="/dishes/<%= @best_food.dish_id %>">
            <%= @best_food.location.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Venue</dt>
      <dd>
        <% if @best_food.best_spot.present? %>
          <a href="/venues/<%= @best_food.venue_id %>">
            <%= @best_food.best_spot.created_at %>
          </a>
        <% end %>
      </dd>

      <dt>Isbest</dt>
      <dd><%= @best_food.isbest %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/best_foods" class="btn btn-primary">
        Back
      </a>
      <a href="/best_foods/<%= @best_food.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_best_food/<%= @best_food.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
